.room-main-content {
    margin-top: 30px;
  }

  .room-detail .title a {
    text-decoration: none;
    color: #2e3339;
  }

  .room-detail .title a h1 {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  .btn-facebook {
    color: #fff;
    background-color: #4C67A1;
  }

  .btn-facebook:hover {
    color: #fff;
    background-color: #405D9B;
  }

  .btn-facebook:focus {
    color: #fff;
  }

  .room-detail .social .facebook {
    margin-right: 5px;
  }

  .room-detail .social .pull-right a span {
    color: #2e3339;
  }

  .room-detail .social .pull-right a {
    color: #33cc66;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
  }
  .room-detail-des {
    margin-top: 5px;
}
.room-list-category .pull-left a h3 span {
  color: #33cc66;
}
.room-list-category .pull-left a h3 {
  font-size: 22px;
}
.room-list-category .pull-left a {
  text-transform: uppercase;
  color: #2e3339;
}
.room-detail-des .dis-content {
  font-family: 'Arial';
  font-size: 15px;
  text-align: justify;
  background-color: #ecf0f1;
  padding: 10px 5px;
  margin-top: -10px;
}

  .main-info {
    background-color: #ecf0f1;
    margin-top: 10px;
  }

  .main-info .left-info {
    background-color: #FFF;
  }

  .no-padding-right {
    padding-right: 0px;
  }

  .no-padding-left {
    padding-left: 0px;
  }

  .main-info .address {
    border-bottom: 1px solid #ecf0f1;
    border-top: 1px solid #ecf0f1;
  }

  .main-info .info-label {
    cursor: inherit;
    border-radius: 0px;
    border: none;
    width: 100px;
    height: 36px;
    background-color: #ecf0f1;
    padding: 6px 12px;
    text-align: left;
    font-weight: 400;
  }

  .main-info .left-info a {
    text-decoration: none;
    font-weight: 600;
    color: #2e3339;
    margin-left: 5px;
  }

  .main-info .size {
    border-bottom: 1px solid #ecf0f1;
  }

  .main-info .left-info a {
    text-decoration: none;
    font-weight: 400;
    color: #2e3339;
    margin-left: 5px;
  }

  .main-info .info-data {
    border-radius: 0px;
    border: none;
    width: 180px;
    height: 36px;
    padding: 6px 0px;
    text-align: left;
    font-weight: 400;
  }

  .main-info .tang {
    border-bottom: 1px solid #ecf0f1;
  }

  .main-info .vs {
    border-bottom: 1px solid #ecf0f1;
  }

  .main-info .type {
    border-bottom: 1px solid #ecf0f1;
  }

  .main-info .info-contact .contact-label a {
    font-size: 18px;
    padding-left: 12px;
    color: #2e3339;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
  }

  .main-info .info-contact .contact-label a span {
    color: #33cc66;
    margin-right: 10px;
    font-size: 20px;
  }

  .main-info .info-contact .chr {
    padding: 0px 12px;
  }

  .main-info .info-contact .chr hr {
    border-color: #33cc66;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .main-info .info-contact .info-price {
    margin-bottom: 10px;
  }

  .main-info .info-contact .info-price a {
    font-size: 16px;
    padding-left: 12px;
    color: #FF0047;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
  }

  .main-info .info-contact .info-price a span {
    color: #2e3339;
    margin-right: 10px;
    font-size: 16px;
  }

  .main-info .info-contact .info-boss {
    margin-bottom: 10px;
  }

  .main-info .info-contact .info-boss a {
    font-size: 14px;
    padding-left: 12px;
    color: #2e3339;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
  }

  .main-info .info-contact .info-boss a span {
    color: #2e3339;
    margin-right: 10px;
    font-size: 16px;
  }

  .main-info .info-contact .info-phone {
    margin-bottom: 20px;
  }

  .main-info .info-contact .info-phone a {
    font-size: 14px;
    padding-left: 14px;
    color: #2e3339;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
  }

  .main-info .info-contact .info-phone a span {
    color: #2e3339;
    margin-right: 13px;
    font-size: 18px;
  }

  .btn-report-room {
    border: none;
    border-radius: 0px;
    background-color: #33cc66;
    padding: 6px 12px;
    margin-left: 12px;
  }

  .btn-report-room:hover {
    background-color: #FF0047;
  }

  .main-info .info-feedback a {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
  }

  .btn-save-room {
    border: none;
    border-radius: 0px;
    background-color: #33cc66;
    padding: 6px 12px;
    margin-left: 8px;
  }

  .btn-save-room:hover {
    background-color: #FF0047;
  }

  .advance-search {
    background-color: #ecf0f1;
    margin-bottom: 30px;
  }