<div class="container">


  <div class="omb_login">
    <h3 class="omb_authTitle">Đăng ký tài khoản
    </h3>
    <h5 class="omb_authTitle">Vui lòng điền đầy đủ thông tin</h5>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
      </div>
    </div>

    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <form class="omb_loginForm" action="" autocomplete="off" method="POST">
            <div class="form-group row">
                <label for="inputTenHienThi" class="col-sm-3 col-form-label"><strong>Tên hiển thị</strong></label>
                <div class="col-sm-9">
                  <input class="form-control" id="inputTenHienThi" type="email">
                </div>
              </div>
              <span class="help-block"></span>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-3 col-form-label"><strong>Email</strong></label>
            <div class="col-sm-9">
              <input class="form-control" id="inputEmail" type="email">
            </div>
          </div>
          <span class="help-block"></span>
          <div class="form-group row">
            <label for="inputRepeatEmail" class="col-sm-3 col-form-label"><strong>Nhập lại Email</strong></label>
            <div class="col-sm-9">
              <input class="form-control" id="inputRepeatEmail" type="email">
            </div>
          </div>
          <span class="help-block"></span>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="inputPassword1"><strong>Password</strong></label>
            <div class="col-sm-9">
              <input class="form-control" id="inputPassword1" type="password">
            </div>
          </div>
          <span class="help-block"></span>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="inputRepeatPassword1"><strong>Nhập lại Password</strong></label>
            <div class="col-sm-9">
              <input class="form-control" id="inputRepeatPassword1" type="password">
            </div>
          </div>
          <span class="help-block"></span>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng ký</button>
        </form>
      </div>
    </div>
    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-3">
        <!-- <label class="checkbox">
          <input type="checkbox" value="remember-me">Remember Me
        </label> -->
      </div>
      <div class="col-xs-12 col-sm-3">
        <p class="omb_forgotPwd">
          Bạn đã có tài khoản? <a href="login">Đăng nhập</a>
        </p>
      </div>
    </div>
  </div>



</div>