<ul class="nav nav-pills flex-column full my-bg-c">
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/i/index']"><i class="fa fa-info-circle"></i> Thông tin</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/um/index']"><i class="fa fa-user"></i> QL Người dùng </a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/prm/index']"><i class="fa fa-paper-plane"></i> QL Tin đăng <span class="badge badge-danger">1</span></a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/pm/index']"><i class="fa fa-map-o"></i> QL Tỉnh</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/dm/index']"><i class="fa fa-map-o"></i> QL Quận</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/wm/index']"><i class="fa fa-map-o"></i> QL Phường/xã</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/sm/index']"><i class="fa fa-map-o"></i> QL Đường</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/nm/index']"><i class="fa fa-list-alt"></i> QL Nhu cầu</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/tm/index']"><i class="fa fa-modx"></i> QL Loại phòng</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/utm/index']"><i class="fa fa-television"></i> QL Tiện ích phòng</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/img/index']"><i class="fa fa-picture-o"></i> QL Hình ảnh</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/mm/index']"><i class="fa fa-envelope-o"></i> QL Tin nhắn</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link text-white" [routerLink]="['/a/rm/index']"><i class="fa fa-link"></i> QL Báo cáo từ người dùng</a>
  </li>
</ul>